.env
# IDE stuff
.DS_Store
.vscode
# MATLAB data files
*.mat
# Python and venv stuff
__pycache__
.pytest_cache
.venv
# Source data
data_exploration/*.csv
input_data_SD
labeled_data
sampled_data
# Kafka source code
kafka_2.13-3.2.0